body{
    margin: 0;
    padding: 0;
    background-image: url(../img/back.jpg);
    background-size: contain;
}


.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #f383a7;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.logo{
    margin: 5px;
}

.logo:hover{
    transform: scale(1.1);
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.li{
    margin: 10px;
    padding: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.li:hover{
    border-radius: 10%;
    background-color: #49262c;
    box-shadow: 5px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: white;
    background-color: #49262c;
    text-align: center;
    margin: 40px;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.acercade{
    flex: 1;
    font-family: 'Salsa', cursive;
    margin-right: 10px;
}

.mapa{
    flex: 1;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    height: 350px;
    margin-left: 10px;
}

.conocenos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Salsa', cursive;
    margin-top: 20px;
    padding: 20px;
}

.botones{
    flex: 1;
    border-color: #d66372;
    background-color: white;
    border-width: 15px;
    border-style: solid;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
}

.botones:hover{
    transform: scale(1.1);
}

.linknav{
    text-decoration: none;
    color: #d66372;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.ig{
    font-family: 'Salsa', cursive;
    font-size: 25px;
}

.iglogo{
    padding: 20px;
}

.copy{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}


@media (max-width: 600px) {
    .container{
        flex-direction:column;
        align-items: flex-start;
    }
}
