body {
    margin: 0;
    padding: 0;
    background-image: url(../img/fondoNuevo.jpg);
    background-size: contain;
}

/*Estilos para header (para index y todas las pages)*/
header {
    flex-flow: column-wrap;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #f383a7;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.logo {
    max-width: 100%;
    width: 75px;
    margin: 5px;
    height: auto;
}

.logo:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.li {
    margin: 10px;
    padding: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.li:hover {
    border-radius: 10%;
    background-color: #49262c;
    box-shadow: 5px;
}

/*Estilos para index.html unicamente*/
/*Estilos para contenedor 1*/
.title {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: white;
    background-color: #49262c;
    text-align: center;
    margin: 35px;
    padding: 20px;
    /*Animación para que el texto crezca y decrezca según tamaño de la pantalla*/
    transition: font-size 2s ease-in-out;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 75px;
}

/*Estilo del contenedor del carrusel*/
.carousel {
    flex-wrap: wrap;
    margin-bottom: 30px;
 }
 
 /*Estilo de los elementos individuales del carrusel*/
 .carousel-item {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
 }
 
 /*Estilo de las imágenes dentro del carrusel*/
 .carousel-item img {
    width: 70%;
    height: auto;
    object-fit: cover;
 }


.acercade {
    font-family: 'Salsa', cursive;
}

iframe {
    width: 400px;
    height: 300px;
}

.mapa {
    flex: 1;
    margin-top: 40px;
}

/*Estilos para contenedor 2*/
.conocenos {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Salsa', cursive;
    text-align: center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 200px 0 200px;
}

.botones {
    flex: 1;
    border-color: #d66372;
    background-color: white;
    border-width: 15px;
    border-style: solid;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 30px;
    padding: 20px;
}

.botones:hover {
    transform: scale(1.1);
}

.linknav {
    text-decoration: none;
    color: #d66372;
}

/*Estilos para footer (para index y todas las pages)*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

/*Animación texto seguinos en Instagram*/
.ig:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
}

/* Keyframe para configurar estilo de la animación shake*/
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.ig {
    font-family: 'Salsa', cursive;
    font-size: 25px;
}

.iglogo {
    max-width: 100%;
    padding: 10px;
    width: 55px;
    height: auto;
}

.copy {
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

/*Estilos exclusivos para Contactos*/

.titulocontacto {
    font-family: 'Salsa', cursive;
    font-size: 20px;
    color: white;
    background-color: #49262c;
    text-align: center;
    margin: 50px;
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
}

label,
input,
select,
button,
textarea {
    font-family: 'Salsa', cursive;
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 4px;
}

select {
    cursor: pointer;
}

.btn {
    background-color: #216280;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #047bb3;
}

.btnreset {
    background-color: #707070;
}

.btnreset:hover {
    background-color: #a7a5a5;
}

/*Estilos exclusivos para Talleres y Workshops*/

.containerCards {
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #bd8686;
    box-shadow: 0px 1px 10px;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px;
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: auto;
}

.card .contenido {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    font-family: 'Salsa';
    color: white;
}

.card .contenido h3 {
    margin-bottom: 20px;
    font-weight: 300;
}

.card .contenido p {
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card .contenido a {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    color: #047bb3;
}

.card .contenido a:hover {
    background-color: #047bb3;
    color: white;
}

/* Responsive design */
/* Estilo para pantallas pequeñas*/
/* Estilo para pantallas de tamaño intermedio*/
@media (max-width: 425px) {

    .logo {
        width: 35px;
    }

    .li {
        margin: 5px;
        font-size: 15px;
    }

    .title {
        margin: 15px;
        font-size: 30px;
    }

    .container1 {
        margin: 20px;
    }

    .acercade {
        font-size: 15px;
    }

    iframe {
        width: 200px;
        height: 150px;
    }

    .mapa {
        flex: 1;
        margin-top: 20px;
    }

    .conocenos {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .container2 {
        margin: 0 75px 0 75px;
    }

    .botones {
        font-size: 15px;
        margin: 10px;
    }

    .ig {
        font-size: 20px;
    }

    .iglogo {
        width: 35px;
    }

    .titulocontacto {
        font-size: 15px;
        margin: 30px;
        padding: 20px;
    }

    form {
        width: 200px;
    }

    .card {
        margin: 5px;
    }

    .card:hover {
        box-shadow: 5px 5px 10px;
    }

    .card .contenido {
        flex-wrap: wrap;
        padding: 10px 5px;
    }

    .card .contenido h3 {
        margin-bottom: 10px;
        font-weight: 200;
    }

    .card .contenido p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
    }

    .card .contenido a {
        padding: 5px;
        margin-top: 10px;
    }

    .card .contenido a:hover {
        background-color: #047bb3;
        color: white;
    }
}